<div class="footer ">
  <div class="d-flex  flex-row justify-content-center position-relative call-box">
    <div class=" text-white p-3 row bg-red rounded justify-content-left position-absolute" style="width: 83%;">
      <div class="col-lg-6 col-sm-12">
        <h3 class=" text-white fw-normal " data-text="header-heading">
          <span class="heading-white fw-normal"> Request a Call Back
          </span>
        </h3>
        <p class="ps-4 pt-2">
          For Virtual Consultation, Pickup and Drop Service
        </p>
      </div>
      <div class="col-lg-6 d-flex flex-row flex-wrap pr-sm-1  justify-content-lg-end justify-content-center">
        <div class=" pe-1 pe-lg-2 col-10 col-lg-6">
          <input type="text" class="form-control form-rounded" placeholder="Phone No.">
        </div>
        <div class="col-10 col-lg-6 mt-lg-0 mt-3"> <button type="button" class="w-100 btn btn-custom btn-sm ">Submit</button></div>

      </div>
    </div>

  </div>
  <div class=" pt-lg-3 px-lg-5 ">
    <x class="row mx-auto">
      <div class="col d-flex flex-row">
        <h6 class="fw-bold">AUTO 2000 LTD. </h6>
      </div>
      <div class="col d-flex flex-row">
        <h6 class="fw-bold">Useful Links</h6>
      </div>
      <div class="col d-flex flex-row">
        <h6 class="fw-bold">Social</h6>
      </div>
      <div class="col d-flex flex-row">
        <idv class="col-10"> <img class="w-75" src="../public/assets/images/IMI_accreditation_footer.png"
            class="img-responsive"></h6>
      </div>
    </div>
    <div class="row mx-auto mt-4">
      <div class="col d-flex flex-column ">
        <p>24 College Street,
          Kempston, Bedford
          MK42 8LU
          </br>
          </br>
          Tel : 01234 210012</p>
      </div>
      <div class="col d-flex flex-column ">
        <h6><a href="#about">About</a></h6>
        <h6 class=""><a href="#services">Services</a></h6>
        <h6 class=""><a href="#contact">Contact</a></h6>
      </div>
      <div class="col d-flex flex-column ">
        <h6><a href="#">Facebook</a></h6>
        <h6><a href="#">Youtube</a></h6>
      </div>
      <div class="col d-flex flex-row">
        <div class="col-lg-3 col-6">
          <img class="w-50" src="../public/assets/images/porsche_trade_parts_programme.png" class="img-responsive">
        </div>
        <div class="col-lg-3 col-6 ">
          <img class="w-50" src="../public/assets/images/porsche_club_bg.png" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row   ">
    <hr class="line mx-2" />
  </div>
  <div class="pt-lg-3 px-lg-5 px-1">
    <div class="mx-auto d-flex flex-row  row  px-lg-5 px-1">
      <div class="col  d-flex flex-row text-center">
        <p>©2022 AUTO 2000 LTD.</p>
      </div>
      <div class="col  d-flex flex-row text-center">
        <p>Made with <span class="text-red">♥</span> in UK</p>
      </div>
      <div class="col  d-flex flex-row text-center">
        <p>Privacy Policy | Terms of Use</p>
      </div>
    </div>
  </div>  
</div>