<div class="card icon-box mb-5 m-lg-5" data-aos="zoom-out">
    <img class="card-img-top" src="../public/assets/images/{{data.image}}.jpg" alt="{{data.name}}">

    <div class="icon-box position-relative">
        <img class="box" src="../public/assets/icons/{{data.icon}}.svg" style="height: 60px;width:60px;">
    </div>

    <div class="card-body py-4 mb-2">
        <h4 class="d-flex mt-4 pt-2  fw-bold">{{toNormalCase data.name}} </h4>
    </div>
</div>