<div class="container-fluid  p-0 ">
    <div class="mx-auto pt-5 row bg-banner" id="home">
        <div class="col-lg-5 col-sm-12 ps-5 pt-5 pt-lg-0 " data-aos="fade-up">
            <h1 class="ps-lg-5  d-flex flex-row  ">
                <span class="ps-2 heading fw-bold text-white"> Porsche Service
                    </br>&nbsp; & Repair Specialists.</span>
            </h1>
        </div>

        <div class="col-lg-7 col-sm-12 ps-0 " data-aos="fade-up">
            <img src="../public/assets/images/porsche_banner.png" class="  p-0 m-0 img-fluid" alt="porsche_banner">
        </div>
    </div>
    <marquee id="mymarquee" onmouseover="this.stop();" onmouseout="this.start();" width="100%" direction="left"
        scrollamount="5" class=" bg-red justify-content-center ">
        <div class=" d-flex flex-row p-2 text-light">
            <div class="p-2">Services - Air Conditioning Service |</div>
            <div class="p-2">Minor service |</div>
            <div class="p-2">Major service |</div>
            <div class="p-2">Air conditioning radiator replacement |</div>
            <div class="p-2">Brake pads and discs |</div>
            <div class="p-2">Brake fluid change |</div>
            <div class="p-2">Water Pump Replacement |</div>
            <div class="p-2">Clutch replacement |</div>
            <div class="p-2">MOT Certification |</div>
        </div>
    </marquee>

    <div class="d-lg-flex flex-lg-row row mx-auto m-lg-5 m-sm-3 py-4 justify-content-center align-items-center ">
        <div class="col-lg-6 col-sm-12 ps-lg-5" data-aos=" fade-up">
            <h2 class=" ps-3  ">
                <span class="heading fw-bold"> Our Purpose</span>
            </h2>

            <p class="fw-bold pt-4 ps-lg-5 px-3 text-justify"> At Auto 2000 we understand how much our customers
                Porsches mean to them so we treat each customer and car with
                the highest regard.

            </p>
            <p class="fw-bold  pt-1  ps-lg-5 px-3 text-justify">
                Our experienced team of technicians make sure all cars are diagnosed,
                repaired and serviced correctly and efficiently so they can be enjoying
                their cars on the open road as soon as possible.
            </p>
            <p class="fw-bold  pt-1  ps-lg-5 px-3 text-justify">
                Whether it's a classic Porsche 928 S, or the latest 911 Carrera GTS,
                we can help you get the very best performance from your car.
            </p>
        </div>

        <div class="col-lg-6 col-sm-12 d-flex flex-row row justify-content-center " data-aos="fade-up">
            <img src="../public/assets/images/porsche_insignia.jpg" style="height: 460px;width: 500px;"
                class="row col-12  img-responsive" alt="porsche_insignia">

        </div>
    </div>

    <div class=" chooseUs bg-grey  " id="chooseUs" style="padding-bottom: 5rem;">
        <div class="row justify-content-between mx-auto py-5 text-center">
            <h3 class=" display-6  fw-bold "> Why Choose Us</h3>
            <div class=" heading-line-wrap ">
                <div class="heading-line "></div>
            </div>
        </div>

        <div class="row justify-content-between choose-us-bg  mx-auto py-lg-5 py-0  text-center">
            <div class="col-lg-3 col-sm-12 d-flex flex-column row mt-3 align-items-center">
                <div class="col-11 years">
                    <img src="../public/assets/icons/exp.svg" style="height:36px;width:36px">
                    <h4 class="display-3 fw-bold mt-2"> 35 </h4>
                    <h6 class="fw-bold mt-4 text-larger">Years Of Experience</h6>
                    <p class="d-flex text-small">
                        Established in 1987, we have
                        over 35 years of experience
                        servicing and maintaining full
                        range of Porsche cars.
                    </p>
                </div>

                <div class="col-11 mt-5 mt-lg-0 customer">
                    <img src="../public/assets/icons/customers.svg" style="height:36px;width:36px"> </h4>
                    <h4 class="display-3 fw-bold mt-3"> 100 % </h4>
                    <h6 class="fw-bold mt-3">Satisfied Customers</h6>
                    <p class="d-flex text-small">
                        Customer satisfaction being
                        our utmost priority; we are
                        trusted for efficient and
                        reliable service.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 d-flex flex-column row mt-3 align-lg-items-end align-items-center ">
                <div class="col-11  mt-5 mt-lg-0 exp">
                    <img src="../public/assets/icons/car.svg" style="height:36px;width:36px"> </h4>
                    <h4 class="display-3 fw-bold mt-3"> 10K </h4>
                    <h6 class="fw-bold mt-3">Years Of Experience</h6>
                    <p class="d-flex text-small">
                        Having serviced over 10,000
                        Porsche cars so far speaks a
                        lot about our expertise
                    </p>
                </div>

                <div class="col-11 mt-5 mt-lg-0 time">
                    <img src="../public/assets/icons/repair.svg" style="height:36px;width:36px"> </h4>
                    <h4 class="display-3 fw-bold mt-3"> 5hr </h4>
                    <h6 class="fw-bold mt-3">Avg. Service time</h6>
                    <p class="d-flex text-small">
                        Fast and Quick service so
                        your vehicles spend less time
                        in the workshop and more on
                        the open roads.
                    </p>
                </div>
            </div>
        </div>

    </div>



    <div class="mx-auto p-lg-5 row   contact-us-bg bg-red " id="contact">
        <div class="col-lg-6 ps-5 mt-lg-0 mt-5" data-aos="fade-up">

            <h2 class="h1 d-flex flex-row  ">
                <span class="heading text-white  "> <span> Remarkable Service;
                        Affordable Price.
                    </span> </span>
            </h2>

            <p class="pt-3 text-white  ml-lg-5"> Highly trained and experienced service
                engineers.</p>
            <p class="pt-2 text-white  ml-lg-5">
                State of the art workshop with latest diagnostic
                tools.</p>
            <p class="pt-2 text-white  ml-lg-5">
                Value for money. We keep our costs down by
                eliminating unnecessary spends.
            </p>
            <p class="pt-2 text-white  ml-lg-5">
                Superb service, but without the Porsche price
                tag.
            </p>
        </div>

        <div class="col-lg-6   " data-aos="fade-up">

            <div class="card service-card icon-box">

                <div class="row text-center">
                    <h5 class="col-12   fw-bold ">Book an Appointment </h5>
                    <div class="col-12 heading-line-wrap ">
                        <div class="heading-line "></div>
                    </div>
                </div>

                <div class="d-flex mt-1">
                    <div class="fw-bold"><span class="num-heading">#1 </span> </div>
                    <div>
                        <span class="ps-4 fw-bold"> Enter Registration Number</span></br>
                    </div>
                </div>

                <div class="d-flex mt-3 ">
                    <div class="fw-bold"><span class="num-heading">#2 </span> </div>
                    <div>
                        <span class="ps-4 fw-bold ">Get Service Quotes</span></br>
                    </div>
                </div>
                <div class="d-flex mt-3">
                    <div class="fw-bold"><span class="num-heading">#3 </span> </div>
                    <div class=" ">
                        <span class="ps-4 fw-bold"> Confirm Booking</span></br>
                    </div>
                </div>

                <div class="d-flex mt-3 fw-bold">
                    <div class="fw-bold"><span class="num-heading">#4 </span></div>
                    <div>
                        <span class="ps-4"> Bring your Porsche</span></br>
                    </div>
                </div>


                <div class="d-flex mt-3">
                    <input type="registration" class="form-control form-control-custom" id="inputRegistration"
                        aria-describedby="registrationHelp" placeholder="Registration No.">
                </div>

                <div class="mt-4   mb-lg-4">
                    <button id="btnRegistration" type="button"
                        class="btn btn-primary bg-red btn-lg btn-block w-100">BOOK
                        NOW</button>
                </div>
            </div>
        </div>
    </div>


    <div class="services row mx-auto bg-grey py-4  " id="services">

        <div class="col-12 mx-auto pt-5 text-center">
            <div class="row ">
                <h3 class="col-12 display-6  fw-bold "> Our Services </h3>
                <div class="col-12 heading-line-wrap ">
                    <div class="heading-line "></div>
                </div>
            </div>
        </div>

        <div class="d-lg-flex flex-lg-row d-sm-flex flex-sm-column justify-content-center px-lg-5">

            <div class="card icon-box m-5 pb-0" data-aos="zoom-out">
                <img class="card-img-top" src="../public/assets/images/clutch_replacement.jpg"
                    alt="brake pad replacement">

                <div class="icon-box position-relative">
                    <img class="box" src="../public/assets/icons/clutch_replacement.svg"
                        style="height: 60px;width:60px;">
                </div>

                <div class="card-body py-4 mb-2">
                    <h4 class="d-flex mt-4 pt-2  fw-bold"> Clutch Replacement </h4>
                </div>
            </div>
            <div class="card icon-box m-5  pb-0" data-aos="zoom-out">
                <img class="card-img-top" src="../public/assets/images/air_conditioning_service.jpg"
                    alt="brake pad replacement">
                <div class="icon-box position-relative">
                    <img class="box" src="../public/assets/icons/air_condition_rervice.svg"
                        style="height: 60px;width:60px;">
                </div>
                <div class="card-body py-4 mb-2">
                    <h4 class="d-flex mt-4 pt-2  fw-bold"> Air Conditioning Service</h4>
                </div>
            </div>

            <div class="card icon-box m-5  pb-0" data-aos="zoom-out">
                <img class="card-img-top" src="../public/assets/images/brake_pad_replacement.jpg"
                    alt="brake pad replacement">

                <div class="icon-box position-relative">
                    <img class="box" src="../public/assets/icons/brake_pad_disc_replacement.svg"
                        style="height: 60px;width:60px;">
                </div>
                <div class="card-body py-4 mb-2">
                    <h4 class="d-flex mt-4 pt-2  fw-bold">Brake Pad & Disc Replacement</h4>
                </div>
            </div>


        </div>
        <div class="d-flex flex-row justify-content-center pb-5">
            <a href="/services" class="col-lg-3 col-sm-4 btn btn-primary bg-red btn-lg btn-block">MORE
                SERVICES</a>
            {{!-- <button type="button" class="col-lg-3 col-sm-4 btn btn-primary bg-red btn-lg btn-block">MORE
                SERVICES</button> --}}
        </div>


    </div>


    <div class="row  specialists-bg mx-auto d-flex p-lg-5" id="services">
        <div class="col-lg-5 col-sm-12 p-5 3 m-lg-5 py-5" data-aos="fade-up">
            <h2 class="  h1 text-white  " data-text="header-heading">
                <span class="heading"> Electric & Hybrid Porsche Specialists.
                </span>
            </h2>
            <p class="pt-2 text-white">
                We recognise electric and hybrid vehicles have complex systems that require
                advanced knowledge and skills

            </p>
            <p class="pt-3 text-white">
                With certified service engineers trained
                by IMI UK to diagnose and repair Porsche vehicles, you can rely
                on us.

            </p>
            <div class="d-flex justify-content-center">
                <img src="../public/assets/images/imi_accreditation.png" style="width: 80px;"
                    class="row col-5 ml-5 mt-1 img-responsive">
            </div>
        </div>
    </div>


    <div class="testimonials row bg-grey py-5 mx-auto" id="testimonials" data-aos="zoom-in">

        <div class="col-12 mx-auto text-center">
            <div class="row ">
                <h3 class="col-12 display-6  fw-bold "> Testimonials </h3>
                <div class="col-12 heading-line-wrap ">
                    <div class="heading-line "></div>
                </div>
            </div>
        </div>

        <div class="d-lg-flex flex-lg-row d-sm-flex flex-sm-column py-lg-5   justify-content-center ">
            <div class="card p-4 mr-lg-5 m-lg-4 m-5">
                <div class="d-flex flex-row">
                    <div class="box bg-circle rounded-circle" style="height: 65px;width:65px;">
                    </div>
                    <div class="d-flex flex-column ps-4">
                        <h6 class="mt-1  fw-bold"> Paul NS</h4>
                            <span class="star"> </span>
                    </div>
                </div>


                <p class="d-flex mt-2">I've been using Nicks Porsche
                    workshop for the past 7 years
                    for both my classic and newer
                    Porsche fleet. Always been
                    Extremely pleased with the work
                    completed, I fully recommend
                    both Nick and Steve. Thanks
                    guys.</p>
            </div>

            <div class="card p-4  mr-lg-5 pb-lg-0 m-lg-4 m-5">
                <div class="d-flex flex-row">
                    <div class="box bg-circle rounded-circle" style="height: 65px;width:65px;">
                    </div>
                    <div class="d-flex flex-column ps-4">
                        <h6 class="mt-1  fw-bold"> Nigel Girling</h4>
                            <span class="star"> </span>
                    </div>
                </div>


                <p class="d-flex mt-2">Nick at Auto 2000 has been
                    looking after my 2003 996
                    Carrera 2 for 8 years. The car is
                    still purring sweetly and I can
                    rely on his honest appraisal of
                    any issues.I know when I get the
                    car back any work will have been
                    done to the highest standard
                    and the cost is going to be far
                    less than if I'd gone to a main
                    dealer.</p>
            </div>

            <div class="card p-4 pb-0 mr-lg-5 m-lg-4 m-5">
                <div class="d-flex flex-row">
                    <div class="box bg-circle rounded-circle" style="height: 65px;width:65px;">
                    </div>
                    <div class="d-flex flex-column ps-4">
                        <h6 class="mt-1  fw-bold">S Balal </h4>
                            <span class="star"> </span>
                    </div>
                </div>
                <p class="d-flex mt-2">
                    I took my Porsche Macan to Nick
                    for an exhaust problem. He took
                    his time to check it over and
                    reassured me. Car many months
                    later is still perfect. Excellent
                    mechanic and even better
                    customer service. Many thanks
                    again.
                </p>
            </div>
        </div>

    </div>
    {{#renderJs 'main'}}{{/renderJs}}