<div class="container-fluid  p-0 pb-5  ">
  <div class="bookAppointmentHeader row mx-auto bg-brown text-light py-5" id="bookAppointment">
    <div class="col-12 mx-auto text-center">
      <div class="row ">
        <h3 class="col-12 display-6  fw-bold "> Our Services </h3>
        <div class="col-12 heading-line-wrap ">
          <div class="heading-line "></div>
        </div>
      </div>
    </div>


  </div>
  {{#if data}}
  <div class="choose-services  bg-grey p-5  " id="chooseServices">
    <div class="d-lg-flex  flex-lg-row d-sm-flex flex-sm-column justify-content-between ">
      {{> appointment/serviceTypeCard data=data.minor_service otherItem=data.major_service
      callBack='selectMinorService'}}
      {{> appointment/serviceTypeCard data=data.minor_service otherItem=data.major_service
      callBack='selectMinorService'}}
    </div>
  </div>
  {{/if}}

  <div class="add-on-services bg-grey p-5  " id="chooseServices">
    <h1 class="ps-lg-5  d-flex flex-row  ">
      <span class="ps-lg-5 heading fw-bold red-text "> Additional Services </span>
    </h1>
    <div class="d-lg-flex flex-lg-row d-sm-flex flex-sm-column justify-content-center">
      {{#each data.add_on_services}}
      {{> services/serviceCard data=this}}
      {{/each}}

    </div>
  </div>




  <div class="other-modification-services pb-5 bg-grey" id="chooseServices">
    <h1 class="ps-lg-5 d-flex flex-row  ">
      <span class="ps-lg-5 heading fw-bold red-text "> Vehicle Modifications</span>
    </h1>
    <div class="d-flex flex-row flex-wrap px-lg-5 pb-5 justify-content-between fw-bold ">
      {{#each data.other_modification}}
      <div class="card icon-box my-3 mx-lg-3">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center ">
            <h4 class="py-3 fw-bold">{{name}}</h4>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>




</div>