<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <title>Auto 2000</title>
  <meta name="description" content="Auto 2000">
  <link rel="shortcut icon" href="../../../public/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="../../..//apple-touch-icon.png" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/public/assets/css/site.css?{{config.cssVersion}}">
</head>

<body>
  {{> master/nav}}
  <!-- /nav section -->
  {{{body}}}


  {{> master/footer}}
  {{> master/footerMobile }}
  <a target="_blank" href="https://api.whatsapp.com/send?phone=07895176473" class="whatsapp-button"><i
      class="bi bi-whatsapp"></i></a>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script type="text/javascript">
  window.onbeforeunload = function () {
    window.scrollTo(0, 0);
  }

  window.onload = function () {
    aos_init();
  }

  // Init AOS
  function aos_init() {
    AOS.init({
      duration: 1000,
      easing: "ease-in-out",
      once: true,
      mirror: false
    });
  }
</script>
<script type="text/javascript">

  document.getElementById('frmCallback').onsubmit = async (e) => {
    try {
      e.preventDefault();
      var phone = document.getElementsByName('phone');
      var phoneVal = phone[0].value
      if (phoneVal) {
        let formData = new FormData();
        const params = new URLSearchParams([...new FormData(e.target).entries()]);
        const response = await fetch("/callback/" + phoneVal, { method: "POST" })
        const res = await response.json()
        alert(res.data.message)
      }
      else {
        alert("Please enter your phone number.");
      }
    } catch (e) {
      console.log('error: ', e);
    }
  }


  document.getElementById('frmCallback1').onsubmit = async (e) => {
    try {
      e.preventDefault();
      var phone = document.getElementsByName('phone1');
      var phoneVal = phone[0].value
      if (phoneVal) {
        let formData = new FormData();
        const params = new URLSearchParams([...new FormData(e.target).entries()]);
        const response = await fetch("/callback/" + phoneVal, { method: "POST" })
        const res = await response.json()
        alert(res.data.message)
      }
      else {
        alert("Please enter your phone number.");
      }
    } catch (e) {
      console.log('error: ', e);
    }
  }
</script>
{{{_sections.script}}}


</html>